@model WebTekKatman.Sepetislemleri.Sepet
@{
    ViewBag.Title = "ÜrünDetay";
}


    <!-- HEADER -->
   
        
        <!--/.top-header -->
        <!-- MAIN HEADER -->
        
        <!-- END MANIN HEADER -->
       
   
    <!-- end header -->
    <!-- page wapper-->
    <div class="columns-container">
        <div class="container" id="columns">
            <!-- breadcrumb -->
            <div class="breadcrumb clearfix">
                <a class="home" href="#" title="Return to Home">Home</a>
                <span class="navigation-pipe">&nbsp;</span>
                <span class="navigation_page">Your shopping cart</span>
            </div>
            <!-- ./breadcrumb -->
            <!-- page heading-->
            <h2 class="page-heading no-line">
                <span class="page-heading-title2">Shopping Cart Summary</span>
            </h2>
            <!-- ../page heading-->
            <div class="page-content page-order">
               
                <div class="order-detail-content">
                    <table class="table table-bordered table-responsive cart_summary">
                        <thead>
                            <tr>
                                <th class="cart_product">Ürün Resmi</th>
                                <th>Bilgileri</th>
                               
                                <th>Ürün Fiyatı</th>
                                <th>Adeti</th>
                                <th>Toplam Fiyat</th>
                                <th class="action"><i class="fa fa-trash-o"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Urunler)
                            {
                                <tr>
                                    <td class="cart_product">
                                        <a href="#"><img src="~/Content/images/Urunler/@item.Urun.KapakResmi" alt="Product"></a>
                                    </td>
                                    <td class="cart_description">
                                        <p class="product-name"><a href="#">@item.Urun.Adi </a></p>
                                        <small class="cart_ref">SKU : #12365499</small><br>
                                        <small><a href="#">Stok : @item.Urun.Stok</a></small>
                                    </td>

                                    <td class="price"><span>@item.Urun.Fiyat TL</span></td>
                                    <td class="qty">
                                        <input class="form-control input-sm" type="text" value="1">
                                        <a href="#"><i class="fa fa-caret-up"></i></a>
                                        <a href="#"><i class="fa fa-caret-down"></i></a>
                                    </td>
                                    <td class="price">
                                        <span>@item.Tutar €</span>
                                    </td>
                                    <td class="action">
                                        <a href="#">Delete item</a>
                                    </td>
                                </tr>
                            }
                         
                            
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2" rowspan="2"></td>
                                <td colspan="3">Toplam Fiyat</td>
                                <td colspan="2">@Model.TotalTutar €</td>
                            </tr>
                            <tr>
                                <td colspan="3"><strong>Total </strong></td>
                                <td colspan="2"><strong>122.38 €</strong></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="cart_navigation">
                        <a class="prev-btn" href="#">Alışverişe Devam</a>
                        <a class="next-btn" href="/Home/SepetDevam">Siparişi Tamamla</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./page wapper-->
    <!-- Footer -->
    

